<!DOCTYPE html>
<html>
  <head>
    <title>Smeargle's Heart</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <% # I need this line or else the dimensions won't be right on mobile devices. To remember what happens, take this out and press the responsive thingy when you inspect the page. %>
    <% # Look up more about meta tags and viewport %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 

    <meta property="og:image" content="https://smearglesheart-seeds.s3-us-west-1.amazonaws.com/Screen+Shot+2020-07-02+at+7.48.30+PM.png" />
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Concert+One&display=swap" rel="stylesheet">  
    <link href="https://fonts.googleapis.com/css2?family=Hind:wght@700&display=swap" rel="stylesheet">
    <link rel="icon" href="https://smearglesheart-seeds.s3-us-west-1.amazonaws.com/Smeargle-Head.png">
    <% # <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script> %>
    <% # <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet"> %>
    <% # <script type="text/javascript"> %>
    <% #   window.smeargleURL = "<%= image_url('Smeargle-Head.png') >"; %>
    <% # </script> %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
