<!DOCTYPE html>
<html>
  <head>
    <title>SmearglesHeart</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap" rel="stylesheet">
    <% # <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet"> %>
    <link href="https://fonts.googleapis.com/css2?family=Concert+One&display=swap" rel="stylesheet">  
    <link href="https://fonts.googleapis.com/css2?family=Hind:wght@700&display=swap" rel="stylesheet">
    <% # <script type="text/javascript"> %>
    <% #   window.smeargleURL = "<%= image_url('Smeargle-Head.png') >"; %>
    <% # </script> %>
    <link rel="icon" href="https://smearglesheart-seeds.s3-us-west-1.amazonaws.com/Smeargle-Head.png">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
